<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/jquery.min.js"></script>
</head>
<body>
    <table style="width:100%;height:190px">
        <tr>
            <td style="width:100%">
                <table>
                    <thead>
                    <tr class="cen">
                        <th>实际人数（单位：人）</th>
                        <th>应到人数（单位：人）</th>
                        <th>最高分（单位：分）</th>
                        <th>最低分（单位：分）</th>
                        <th>考试平均分（单位：分）</th>
                        <th>考试方差（单位：1）</th>
                    </tr>
                    </thead>
                    <tbody id="tbodydata">
                    <tr>
                        <td>1111</td>
                        <td>2222</td>
                        <td>3333</td>
                        <td>4444</td>
                        <td>5555</td>
                        <td>6666</td>
                    </tr>

                    </tbody>
                </table>
            </td>
        </tr>
    </table>
    <button onclick="refurbishIndex()">筛选</button>　
</body>

<script type="text/javascript">
    function refurbishIndex(){
        alert("陈宫");
        var optionJson=[];
        $.ajax({
            type:"post",
            url:"/DegreeMostImportantance",
            data:{},
            async: false,
            success:function (data) {
                alert(data);
                optionJson=data;

                var str="";

                str+="<tr>"+
                    "<td>"+optionJson.totalNumber+"</td>"+
                    "<td>"+optionJson.actualNumber+"</td>"+
                    "<td>"+optionJson.highScore+"</td>"+
                    "<td>"+optionJson.lowScore+"</td>"+
                    "<td>"+optionJson.avgScore+"</td>"+
                    "<td>"+optionJson.variance+"</td>"+
                    "</tr>";
                document.getElementById("tbodydata").innerHTML=str;
            }
        });
    }
</script>
</html>