<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>节点相关性</title>

    <style>
        #header{
            background: deepskyblue;
            color: black;
            text-align: center;
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>

<body style="margin: 0px;padding: 0px">
    <div id="header">
        <h1 style="font-size: 75px;margin: 0px">节点社区发现</h1>
    </div>

    <div id="content">
        <div>
            <span></span>
        </div>

    </div>
    <a href="getallcommunity">
        <input type="button" value="获取节点及所属社区">
    </a>

</body>
</html>