<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>节点连通性度量</title>

    <style>
        #header{
            background: deepskyblue;
            color: black;
            text-align: center;
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>
<body style="margin: 0px;padding: 0px">
    <div id="header">
        <h1 style="margin: 0px;font-size: 75px;">节点连通性评估</h1>
    </div>
    <form action="ifConnnective" method="post">
        <label>
            <span>专家A:</span>
            <span>专家单位名称</span>
            <input type="text" name="startorgname" placeholder="请输入专家单位名称">
            <span>专家姓名</span>
            <input type="text" name="startname" placeholder="请输入专家姓名">
        </label><br>
        <label>
            <span>专家B:</span>
            <span>专家单位名称</span>
            <input type="text" name="endorgname" placeholder="请输入专家单位名称">
            <span>专家姓名</span>
            <input type="text" name="endname" placeholder="请输入专家姓名">
        </label><br>
        <label>
            <input type="submit" value="提交">
        </label>
    </form>
</body>
</html>