<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--import d3 version 5-->

    <!--<script type="text/javascript" src="../static/js/d3.min.js"></script>-->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!--import jquery3.3.1-->
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>

</head>
<body>
<svg></svg>
<script>
 //访问后台获取数据
  d3.json("getOnePersonImportance").then(function(dataJson){
      //GroupExplorer constructing function
      //this is one way to create a javascript object
      function GroupExplorer(data){
          //create an object-include some data
          //this is an another way to create a javascript object
          var defaultConfig = {
              data:{"nodes":[],"links":[]},//critical data set
              windowWidth:window.innerWidth,
              windowHeight:window.innerHeight,
              defaultLinkDistance:150
          }
          //because the initial "data" is null,
          //so you need use jquery syntax "extend" to merge the json data
          //below,merge "data" into "defaultWindow"
          //"true" mean do not cover
          //details see jquery API document
          $.extend(true,defaultConfig,data);
          //so now we get the json file that we need
          //now let`s begin,transform json file to force graph data
          //but first ,we need to get "svg"
          var svg = d3.select("svg");
          svg.attr("width",defaultConfig.windowWidth);
          svg.attr("height",defaultConfig.windowHeight);

          //遍历关系
          defaultConfig.data.links.forEach(function(e){
              //判断起始节点和结束节点数据类型
              if(typeof e.source=="string"&&typeof e.target=="string"){
                  var sourceNode = defaultConfig.data.nodes.filter(function(n){
                      return n.id === e.source;
                  })[0];
                  var targetNode = defaultConfig.data.nodes.filter(function(n){
                      return n.id === e.target;
                  })[0];
                  e.source = sourceNode;
                  e.target = targetNode;
              }
          });
          //create a force graph
          var forceSimulation = d3.forceSimulation()
              .force("link",d3.forceLink())
              .force("charge",d3.forceManyBody())
              .force("center",d3.forceCenter(defaultConfig.windowWidth/2,defaultConfig.windowHeight/2));
          //transform nodes data
          forceSimulation.nodes(defaultConfig.data.nodes)
              .on("tick",ticked);
          //tranform links data
          forceSimulation.force("link")
              .links(defaultConfig.data.links)
              .distance(defaultConfig.defaultLinkDistance);
          console.log(defaultConfig.data.nodes);
          console.log(defaultConfig.data.links);
          //define arrow
          svg.append("svg:defs")
              .append("svg:marker")
              .attr("id", "marker")
              .attr('viewBox', '0 -5 10 10')
              .attr("refX", 20)
              .attr("refY",0)
              .attr('markerWidth', 10)
              .attr('markerHeight', 10)
              .attr('orient', 'auto')
              .append('svg:path')
              .attr('d', 'M0,-5L10,0L0,5')
              .attr("fill","brown");
          //draw links
          var links = svg.append("g")
              .selectAll("line")
              .data(defaultConfig.data.links)
              .enter()
              .append("line")
              .attr("x1",function(n){return n.source.x})
              .attr("y1",function(n){return n.source.y})
              .attr("x2",function(n){return n.target.x})
              .attr("y2",function(n){return n.target.y})
              .attr("stroke","brown")
              .attr("stroke-width",1)
              .attr("marker-end","url(#marker)");
          //draw links-text
          var links_text = svg.append("g")
              .selectAll("text")
              .data(defaultConfig.data.links)
              .enter()
              .append("text")
              .attr("x",function(e){
                  return (e.source.x+e.target.x)/2;
              })
              .attr("y",function(e){
                  console.log(e.source.y+"+"+e.target.y)
                  return (e.source.y+e.target.y)/2;
              })
              .attr("font-size",10)
              .text(function(e){return e.id});
          //draw nodes group = node+node-text
          var nodes_g = svg.append("g")
              .selectAll("g")
              .data(defaultConfig.data.nodes)
              .enter()
              .append("g")
              .attr("transform",function(e){
                  return "translate("+e.x+","+e.y+")";
              })
              .call(d3.drag()
                  .on("start",started)
                  .on("drag",dragged)
                  .on("end",ended));
          //draw nodes
          nodes_g.append("circle")
              .attr("r",10)
              .attr("fill","blue");
          //draw node-text
          nodes_g.append("text")
              .attr("x",-15)
              .attr("y",20)
              .attr("font-size",10)
              .text(function(e){return e.name});
          function started(d){
              if(!d3.event.active){
                  forceSimulation.alphaTarget(0.8).restart();
              }
              d.fx = d.x;
              d.fy = d.y;
          }
          function dragged(d){
              d.fx = d3.event.x;
              d.fy = d3.event.y;
          }
          function ended(d) {
              if(!d3.event.active){
                  forceSimulation.alphaTarget(0);
              }
              d.fx = null;
              d.fy = null;
          }
          function ticked(){
              links
                  .attr("x1",function(n){return n.source.x})
                  .attr("y1",function(n){return n.source.y})
                  .attr("x2",function(n){return n.target.x})
                  .attr("y2",function(n){return n.target.y})
              links_text
                  .attr("x",function(e){
                      return (e.source.x+e.target.x)/2;
                  })
                  .attr("y",function(e){
                      return (e.source.y+e.target.y)/2;
                  })
              nodes_g
                  .attr("transform",function(e){
                      return "translate("+e.x+","+e.y+")";
                  })
          }
      }
      //because in the way of creating a javascript object,
      //you need to use "new" to use it
      new GroupExplorer({data:dataJson});
  })



 d3.json("getOnePersonImportance").then(function(dataJson){
     //GroupExplorer constructing function
     //this is one way to create a javascript object
     function GroupExplorer(data){
         //create an object-include some data
         //this is an another way to create a javascript object

         var defaultConfig = {
             data:{"nodes":[],"links":[]},//critical data set
             windowWidth:window.innerWidth,
             windowHeight:window.innerHeight,
             defaultLinkDistance:200
         }

         //because the initial "data" is null,
         //so you need use jquery syntax "extend" to merge the json data
         //below,merge "data" into "defaultWindow"
         //"true" mean do not cover
         //details see jquery API document
         $.extend(true,defaultConfig,data);

         //so now we get the json file that we need
         //now let`s begin,transform json file to force graph data
         //but first ,we need to get "svg"

         var svg = d3.select("svg");
         var svgWidth = svg.attr("width");
         var svgHeight = svg.attr("height");
         /*svg.attr("width",defaultConfig.windowWidth);
         svg.attr("height",defaultConfig.windowHeight);*/

         defaultConfig.data.links.forEach(function(e){
             if(typeof e.source=="number"&&typeof e.target=="number"){
                 var sourceNode = defaultConfig.data.nodes.filter(function(n){
                     return n.id === e.source;
                 })[0];
                 var targetNode = defaultConfig.data.nodes.filter(function(n){
                     return n.id === e.target;
                 })[0];
                 e.source = sourceNode;
                 e.target = targetNode;
             }
         });

         //create a force graph
         var forceSimulation = d3.forceSimulation()
             .force("link",d3.forceLink())
             .force("charge",d3.forceManyBody())
             .force("center",d3.forceCenter(defaultConfig.windowWidth/2,defaultConfig.windowHeight/2));

         //transform nodes data
         forceSimulation.nodes(defaultConfig.data.nodes)
             .on("tick",ticked);
         //tranform links data
         forceSimulation.force("link")
             .links(defaultConfig.data.links)
             .distance(defaultConfig.defaultLinkDistance);

         console.log(defaultConfig.data.links);


         //define arrow
         svg.append("svg:defs")
             .append("svg:marker")
             .attr("id", "marker")
             .attr('viewBox', '0 -5 10 10')
             //改变箭头位置
             .attr("refX", 23)
             .attr("refY",0)
             .attr('markerWidth', 10)
             .attr('markerHeight', 10)
             .attr('orient', 'auto')
             .append('svg:path')
             .attr('d', 'M0,-5L10,0L0,5')
             .attr("fill","brown");
         //draw links
         var links = svg.append("g")
             .selectAll("line")
             .data(defaultConfig.data.links)
             .enter()
             .append("line")
             .attr("title","")
             .attr("x1",function(n){return n.source.x})
             .attr("y1",function(n){return n.source.y})
             .attr("x2",function(n){return n.target.x})
             .attr("y2",function(n){return n.target.y})
             .attr("stroke","brown")
             .attr("stroke-width",2)
             .attr("marker-end","url(#marker)")
             .on("mouseover",mouseOverRel);
         //draw links-text
         var links_text = svg.append("g")
             .selectAll("text")
             .data(defaultConfig.data.links)
             .enter()
             .append("text")
             .attr("x",function(e){
                 return (e.source.x+e.target.x)/2;
             })
             .attr("y",function(e){
                 return (e.source.y+e.target.y)/2;
             })
             .attr("font-size",10)
             .text(function(e){return e.type});
         //draw nodes group = node+node-text
         var nodes_g = svg.append("g")
             .selectAll("g")
             .data(defaultConfig.data.nodes)
             .enter()
             .append("g")
             .attr("transform",function(e){
                 return "translate("+e.x+","+e.y+")";
             })
             .call(d3.drag()
                 .on("start",started)
                 .on("drag",dragged)
                 .on("end",ended));
         //draw nodes
         nodes_g.append("circle")
             .attr("title","")
             .attr("r",30)
             .attr("fill",function (e) {
                 console.log(e.color);
                 return e.color;
             })
             .on("mouseover",mouseOverNode)
             .on("dblclick",doubleClick);
         //draw node-text
         nodes_g.append("text")
             .attr("x",-40)
             .attr("y",40)
             .attr("font-size",10)
             .text(function(e){return e.名称});

         function started(d){
             if(!d3.event.active){
                 forceSimulation.alphaTarget(0.8).restart();
             }
             d.fx = d.x;
             d.fy = d.y;
         }
         function dragged(d){
             d.fx = d3.event.x;
             d.fy = d3.event.y;
         }
         function ended(d) {
             if(!d3.event.active){
                 forceSimulation.alphaTarget(0);
             }
             d.fx = null;
             d.fy = null;
         }

         function ticked(){
             links
                 .attr("x1",function(n){return n.source.x})
                 .attr("y1",function(n){return n.source.y})
                 .attr("x2",function(n){return n.target.x})
                 .attr("y2",function(n){return n.target.y})
             links_text
                 .attr("x",function(e){
                     return (e.source.x+e.target.x)/2;
                 })
                 .attr("y",function(e){
                     return (e.source.y+e.target.y)/2;
                 })
             nodes_g
                 .attr("transform",function(e){
                     return "translate("+e.x+","+e.y+")";
                 })
         }

         //节点的监听
         function mouseOverNode(data) {

             var keys = Object.keys(data);
             var content = "";

             for(var i = 0;i<keys.length;i++){
                 var key = keys[i];

                 //筛选key
                 //其中有几个是默认的key，我们不需要，可以根据console后台打印的node数据格式可以看到
                 //id
                 //index
                 //x
                 //y
                 //vx
                 //vy
                 //还有在拖拽的时候会产生新的两个key——fx和fy
                 if(key=="id"||key=="index"||key=="x"||key=="y"||key=="vx"||key=="vy"||key=="fx"||key=="fy")
                     continue;
                 //通过这样获取value
                 var value = data[key];
                 content += key+"："+value+"   ";
             }

             $(this).attr("title",content);
         }

         //关系的监听
         function mouseOverRel(data) {

             var keys = Object.keys(data);
             var content = "";

             for(var i = 0;i<keys.length;i++){
                 var key = keys[i];

                 //筛选key
                 //其中有几个是默认的key，我们不需要，可以根据console后台打印的relationship数据格式可以看到
                 //index
                 //source
                 //target

                 //还有在拖拽的时候会产生新的两个key——fx和fy
                 if(key=="index"||key=="source"||key=="target")
                     continue;
                 //通过这样获取value
                 if(key=="type"){
                     content += "关系类型"+"："+data.type+"   ";
                     continue;
                 }
                 var value = data[key];
                 content += key+"："+value+"   ";
             }

             $(this).attr("title",content);
         }

         //处理双击事件
         //相当于递归调用
         function doubleClick(data){
             var nodeName = data.名称;
             var nodeType = data.type;

             //得到所需要的nodeName,和nodeType
             //可以调用查询按钮点击事件，即将这次的双击事件看成查询事件，只是在后台调用不同的查询方法
             var parameter1 = nodeType;
             var parameter2 = "";
             var parameter3 = nodeName;
             var parameter4 = "other";
             var isHide = $('input:radio:checked').val();
             console.log(isHide);

             new display(parameter1,parameter2,parameter3,parameter4,isHide);

             console.log(nodeType+"----"+nodeName);
         }

     }
     //because in the way of creating a javascript object,
     //you need to use "new" to use it
     new GroupExplorer({data:dataJson});
 })
</script>


</body>
</html>