<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>节点重要性评估</title>

    <style>

        #header{
            background: deepskyblue;
        }

        .content{

        }
    </style>
</head>
<body style="margin: 0">
    <div id="header">
        <h1 style="margin: 0px;color:black;text-align: center;font-size: 75px">节点重要性评估</h1>
    </div>

    <div id="content">
        <div>
            <form action="DegreeMostImportantance" method="post">
                专家单位<input type="text" name="orgname">
                专家数量<input type="text" name="cnt">
                <input type="submit" value="提交">
            </form>
        </div>

        <div>
                <form action="PageRankMostImportantance" method="post">
                    专家单位<input type="text" name="orgnizationname">
                    专家数量<input type="text" name="cnt">
                    <input type="submit" value="提交">
                </form>
        </div>

        <div style="position: absolute">
            <form action="getOnePersonImportance" method="post">
                专家姓名<input type="text" name="expert_name"><br>
                专家单位<input type="text" name="orgnizationname"><br>
                <input type="submit" value="提交">
            </form>
        </div>
    </div>

</body>
</html>