<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>节点重要性评估</title>

    <style>
        #header{
            background: deepskyblue;
            color: black;
            text-align: center;
            margin: 0px;
            padding: 0px;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
        function refurbishIndex(){
            var orgname = document.getElementById("degreeorgname").value;
            var cnt = document.getElementById("degreecnt").value;
            var itemvalue = document.getElementById("slt");
            var str;
            var url;
            for(var i=0;i<itemvalue.options.length;i++){

                if(itemvalue.options[i].selected){
                    str = itemvalue.options[i].value;
                    if(str=="Degree"){
                        url="DegreeMostImportance";
                    }else if(str=="PageRank"){
                        url="PageRankMostImportance";
                    }else if(str=="Betweeness"){
                        url="BetweenessMostImportance";
                    }else{
                        url="ClosenessMostImportance";
                    }
                }
            }
            $.ajax({
                type:"post",
                url:url,
                data:{
                    orgname:orgname,
                    cnt:cnt
                },
                datatype:"json",
                async: false,
                success:function (data) {
                    var str="<table border='1px' align='center'>"+"<tr><th style='font-size: 30px'>专家姓名</th><th style='font-size: 30px'>中心度</th></tr>";
                    for (i in data) {
                        str += "<tr>" +
                            "<td >" + data[i].name + "</td>" +
                            "<td>" + data[i].importance+ "</td>" +
                        "</tr>";
                    }
                    str +="</table>";
                    document.getElementById("degreetable").innerHTML=str;
                }
            });
        }
    </script>
</head>
<body style="margin: 0px;padding: 0px">
    <div id="header">
        <h1 style="font-size: 75px;margin: 0px">节点重要性评估</h1>
    </div>

    <div id="content">
        <div>
            <form>
                <label>
                    <span style="font-size: 30px">中心度算法:</span>
                    <select id="slt" style="font-size: 30px" required>
                        <option value="Degree">Degree</option>
                        <option value="PageRank">PageRank</option>
                    </select>
                 </label>
                <label>
                    <span style="font-size: 30px">专家单位:</span>
                    <input type="text" name="orgname" id="degreeorgname" style="font-size: 30px">
                </label>
                <label>
                    <span style="font-size: 30px">专家数量:</span>
                    <input type="text" name="cnt" id="degreecnt" style="font-size: 30px">
                </label>
                <label>
                    <span>&nbsp;</span>
                    <input type="button" value="提交" onclick="refurbishIndex()" style="font-size: 30px">
                </label>
            </form>

            <div id="degreetable"></div>
        </div>
    </div>
</body>
</html>