<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>节点相似性评估</title>

    <link rel="stylesheet" type="text/css" href="css/table.css"/>

    <style>
        #header{
            background: deepskyblue;
            color: black;
            text-align: center;
            margin: 0px;
            padding: 0px;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script type="text/javascript">
        function similarity() {

            var orgname = document.getElementById("orgname").value;
            var name = document.getElementById("name").value;
            var itemvalue = document.getElementById("slt");
            var url;
            for(var i=0;i<itemvalue.options.length;i++){

                if(itemvalue.options[i].selected){
                    var str = itemvalue.options[i].value;
                    if(str=="Degree相似性"){
                        url="http://localhost:8080/neo4jdemo/degreesim";
                    }else if(str=="Jaccord相似性"){
                        url="http://localhost:8080/neo4jdemo/jaccordsim";
                    }
                }
            }
            $.ajax({
                type: "post",
                url: url,
                data: {
                    orgname: orgname,
                    name: name
                },
                datatype: "json",
                async:"false",
                success:function (data) {
                    if(data=="false"){
                        alert("节点不存在");
                    }else{
                        var jsonObj = JSON.parse( data );
                        var list = jsonObj.expert_list;

                        var str="<table>"+"<tr><th>专家姓名</th><th>专家单位</th><th>相似度</th></tr>";
                        for(i in list){
                            str+="<tr>"+"<td>"+list[i].similarnodename+"</td>"+"<td>"+list[i].similarnodeorg+"</td>"+"<td>"+list[i].similarity+"</td>"+"</tr>";
                        }
                        str+="</table>"
                        document.getElementById("similar").innerHTML=str;
                    }
                }
            })
        }
    </script>



</head>
<body  style="margin: 0px;padding: 0px">
    <div id="header">
        <h1 style="font-size: 75px;margin: 0px">节点相似性评估</h1>
    </div>
    <form>
        <label>
            <span style="font-size: 30px">相似性算法:</span>
            <select id="slt" style="font-size: 30px" required>
                <option value="Degree相似性">Degree相似性</option>
                <option value="Jaccord相似性">Jaccord相似性</option>
            </select>
        </label>
        <label>
            <span style="font-size: 30px">专家单位名称:</span>
            <input type="text" name="orgname" id="orgname" style="font-size: 30px" placeholder="请输入专家单位名称">
            <span style="font-size: 30px">专家姓名:</span>
            <input type="text" name="name" id="name" style="font-size: 30px" placeholder="请输入专家姓名">
        </label>
        <label>
            <input type="button" value="提交" style="font-size: 30px" onclick="similarity()">
        </label>
    </form>
    <div id="similar"></div>
</body>
</html>